@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

:root {
  --primary: #866292;
  --secondary: #f3f0f5;
}

body {
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  color: #534d5d;
}

.app {
  text-align: center;
}

.chat-window {
  width: 300px;
  height: 400px;
  display: inline-block;
  margin: 50px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;

  &:before {
    content: '';
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #cfa7d6 , var(--primary));
    position: absolute;
    left: 0;
    top: -5px;
  }
}
.chat-window__header {
  box-shadow: 0 5px 35px -10px rgba(0,0,0,0.1);
}
.chat-window__header__avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.chat-window__messages {
  height: 74%;
  overflow: auto;
}

.chat-window__messages__message {
  overflow: auto;
  text-align: left;
}

.chat-window__messages__message--user {
  text-align: right;
  .chat-window__messages__message-wrapper {
    float: right;
  }
  .chat-window__messages__message__body {
    background: var(--secondary);
    float: right;
  }
  .chat-window__messages__message__date {
    text-align: right;
  }
}
.chat-window__messages__message-wrapper {
  max-width: 300px;
  float: left;
}

.chat-window__messages__message-wrapper {
  margin: 10px;
  max-width: 300px;
  float: left;
}

.chat-window__messages__message__body {
  border: 2px solid var(--secondary);
  padding: 10px 20px;
  font-weight: 600;
  max-width: 70%;
}

.chat-window__messages__message__date {
  font-size: 10px;
  text-align: left;
  color: #a0a0a0;
  clear: both;
}


.chat-window__input-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: var(--secondary);
  margin: 0;
  overflow: hidden;
}
.chat-window__input-form__input {
  font-family: 'Open Sans', sans-serif;
  background: var(--secondary);
  padding: 15px 60px 15px 15px;
  border: 0;
  font-size: 16px;
  width: 100%;
}

.chat-window__input-form__send-button {
  position: absolute;
  right: 10px;
  top: 8px;
  border: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background: #800080;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  transition: all 0.2s;
  transform: translate3d(0, 50px, 0);
}
.chat-window__input-form__send-button--shown {
  opacity: 1;
  transform: translate3d(0, 0px, 0);
}

.typing-indicator {
  opacity: 0;
  text-align: left;
  padding: 15px 10px;
  font-size: 12px;
  color: #a6a2a9;
  font-weight: 600;
}

.typing-indicator--shown {
  opacity: 1;
}
