@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
}

.app {
  text-align: center;
}

.chat-window {
  width: 250px;
  height: 400px;
  display: inline-block;
  margin: 50px;
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  background: white;
  border-top: 5px solid #866292;
  position: relative;
}

.chat-window__messages {
  height: 82%;
  overflow: auto;
}

.chat-window__messages__message__avatar {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.chat-window__input-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f3f0f5;
  margin: 0;
}
.chat-window__input-form__input {
  font-family: 'Open Sans', sans-serif;
  background: #f3f0f5;
  padding: 15px;
  border: 0;
  font-size: 16px;
  width: 100%;
}

.chat-window__input-form__send-button {
  position: absolute;
  right: 10px;
  top: 12px;
  opacity: 0;
  transition: opacity 0.2s;
}
.chat-window__input-form__send-button--shown {
  opacity: 1;
}

.typing-indicator {
  opacity: 0;
}

.typing-indicator--shown {
  opacity: 1;
}
